@import "tailwindcss";

@media print {
  @page {
    size: letter portrait;
    margin: 0;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background: #ffffff !important;
  }
}
